<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/FasdsTeamSoap/FasdsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataContract"
                contract="FasdsService.IDataContract" name="BasicHttpBinding_IDataContract" />
        </client>
    </system.serviceModel>
</configuration>